@import 'vars'

*
    margin: 0
    padding: 0
    box-sizing: border-box

summary
    display: block

summary::-webkit-details-marker
    display: none

body
    color: #222222
    font-family: 'Lato', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: normal

img
    max-width: 100%
    display: block

a
    text-decoration: none
    color: #222222

.center
    padding-left: calc(50% - $siteWidth/2)
    padding-right: calc(50% - $siteWidth/2)

.header
    background: #222222
    padding-top: 18px
    padding-bottom: 19px
    display: flex
    justify-content: space-between
    align-items: center

    &__left
        display: flex
        gap: 41px

    &__right
        display: flex
        gap: 33px
        align-items: center

.menu-wrap
    position: relative
    z-index: 100

.site-menu-wrapper
    display: none
    position: absolute
    top: -27px
    left: -125px
    padding-top: 80px

.menu-wrap .site-menu
    background: #FFFFFF
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    padding: 32px
    font-weight: 700
    font-size: 14px
    line-height: 17px
    color: #000000

ul>li:first-child>a
    font-weight: 400
    color: $siteColorPink
    margin-top: 20px
    display: flex
    flex-direction: column
    gap: 11px
    white-space: nowrap

ul>li:not(:first-child)>a
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #6F6E6E
    padding-left: 25px
    white-space: nowrap
    margin-top: 11px
    display: block

ul>li:first-child>a:hover
    color: #6F6E6E

ul>li:not(:first-child)>a:hover
    color: $siteColorPink

li
    list-style-type: none

.menu-wrap:hover .site-menu-wrapper
    display: block

.slider
    background: #F1E4E6
    display: flex
    justify-content: space-between
    align-items: center

    &__text
        margin-right: 101px
        padding-left: 16px
        border-left: 12px $siteColorPink solid

    &-text__title
        font-weight: 900
        font-size: 48px
        line-height: 58px

    &-text__text
        font-weight: 700
        font-size: 32px
        line-height: 38px

    &-text__fashion
        font-weight: 700
        font-size: 32px
        line-height: 38px
        color: $siteColorPink

.categories
    padding-top: 65px
    padding-bottom: 48px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 260px 180px
    gap: 30px
    justify-content: center

    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    &-item_1
        background: url("img/categories1.jpg") center no-repeat
        background-size: cover

    &-item_2
        background: url("img/categories2.jpg") center no-repeat
        background-size: cover

    &-item_3
        background: url("img/categories3.jpg") center no-repeat
        background-size: cover

    &-item_4
        background: url("img/categories4.jpg") center no-repeat
        background-size: cover

    &-item_big
        grid-column: 1 / 4

    &-item__text
        font-size: 16px
        line-height: 19px
        text-align: center
        color: #FFFFFF

    &-item__title
        font-weight: 700
        font-size: 24px
        line-height: 29px
        text-align: center
        color: $siteColorPink

.breadcrumbs
    padding-top: 60px
    padding-bottom: 60px
    background-color: #F8F3F4
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #EAEAEA

    &__page-name
        color: $siteColorPink
        font-size: 24px

    &__links
        &-links__item
            color: #636363
            font-size: 14px
            font-weight: 300

            &_active
                color: $siteColorPink

            &-links__delimiter
                color: #636363
                font-size: 14px
                font-weight: 300

.product
    &-slider-bg-wrapper
        background-color: #F7F7F7

    &__slider
        position: relative

        &-slider__image
            display: flex
            justify-content: center
            align-items: center
            padding-bottom: 60px

            &-slider__nav
                position: absolute
                top: 50%
                background-color: #2A2A2A26
                display: flex
                justify-content: center
                align-items: center
                cursor: pointer

            svg
                fill: #000000
                transition: all .2s

            &:hover
                svg
                    fill: $siteColorPink

            &-slider__nav_next
                right: 0

            &-slider__nav_prev
                left: 0

    &__desc
        border: 1px solid #EAEAEA
        padding-top: 65px
        padding-bottom: 65px
        display: flex
        flex-direction: column
        align-items: center
        width: 52%
        margin: -50px auto 40px
        background-color: white

        &-desc__name-collection
            color: $siteColorPink
            font-family: Lato
            font-weight: 300
            position: relative
            padding-bottom: 27px

            &::after
                content: ""
                position: absolute
                display: block
                width: 63px
                height: 3px
                background-color: #EF5B70
                bottom: 12px
                left: 50%
                transform: translateX(-50%)

            &-desc__title
                color: #4D4D4D
                font-size: 18px
                font-weight: 300
                margin-bottom: 48px

            &-desc__desc
                color: #5E5E5E
                text-align: center
                font-weight: 300
                margin-bottom: 32px

            &-desc__price
                color: #EF5B70
                font-size: 24px
                font-weight: 300
                margin-bottom: 65px

            &-desc__delimiter
                width: 100%
                height: 1px
                background-color: #EAEAEA
                margin-bottom: 65px

            &-desc__form
                &-desc-form__params
                    display: flex
                    gap: 42px
                    margin-bottom: 48px

                    &-desc-form-params__item
                        color: #6F6E6E

.button
    color: #F26376
    font-size: 16px

    &_add-cart
        margin: 0 auto
        display: block
        padding: 14px 56px 14px 72px
        border: 1px solid #FF6A6A
        background: white url("/img/button_add-cart.svg") no-repeat center left 20px
        background-size: 26px 24px
        transition: all .2s
        cursor: pointer

    &:hover
        background-image: url("/img/button_add-cart-white.svg")
        color: #Fff
        background-color: #FF6A6A

.catalog
    padding-top: 48px
    padding-bottom: 60px
    display: flex
    flex-direction: column
    align-items: center

    &__title
        margin-bottom: 48px

    &-title__title
        font-size: 30px
        line-height: 36px
        text-align: center
        margin-bottom: 6px

    &-title__text
        font-size: 14px
        line-height: 17px
        color: #9F9F9F
        text-align: center

    &__content
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 30px
        margin-bottom: 48px
        justify-content: center

    &-item__image
        display: block

    &-item__desc
        display: flex
        flex-direction: column
        gap: 16px
        background: #F8F8F8
        padding: 24px 16px

    &-item__title
        font-size: 13px
        line-height: 16px
        color: #000000

    &-item__text
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #5D5D5D

    &-item__price
        line-height: 19px
        color: $siteColorPink

    &__show-all
        line-height: 19px
        color: #F26376
        padding: 15px 39px
        border: 1px solid #FF6A6A

    &-page
        padding-top: 48px
        padding-bottom: 60px
        display: flex
        flex-direction: column

    &__sorting
        padding-bottom: 65px
        display: flex

    &__content
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 30px
        margin-bottom: 48px
        justify-content: center

    &-page-sorting-wrapper
        width: 360px
        position: relative

    &-page-sorting__filter
        position: absolute

    &[open]
        background: #FFF
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
        padding: 13px 16px 16px

    &[open] &-page-details__title
        color: $siteColorPink

    &[open] path
        fill: $siteColorPink

    &__summary
        display: flex
        gap: 11px
        align-items: center

    &__title
        font-weight: 600

    &-page-subdetails
        display: flex
        flex-direction: column

    &__subsummary
        padding: 11px
        border-bottom: 1px solid #EBEBEB
        border-left: 5px solid $siteColorPink
        margin-top: 16px

.subsummary-title
    color: $siteColorPink

.subsummary-link
    color: #6F6E6E
    padding-left: 12px
    margin-top: 11px

.catalog-page-sorting__params
    padding-left: 30px
    display: flex
    gap: 28px

.catalog-page-sorting-params-details
    position: relative

.catalog-page-sorting-params-summary
    display: flex
    gap: 10px
    align-items: center

.catalog-page-sorting-params-title
    color: #6F6E6E

.params-check-box
    position: absolute
    padding: 7px 9px
    background: #FFF
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    top: 25px
    display: flex
    flex-direction: column
    gap: 9px

.params-check
    display: flex
    gap: 9px

    label
        color: #6F6E6E

.catalog-page-item__image
    display: block

.catalog-page-item__desc
    display: flex
    flex-direction: column
    gap: 16px
    background: #F8F8F8
    padding: 24px 16px

.catalog-page-item__title
    font-size: 13px
    line-height: 16px
    color: #000000

.catalog-page-item__text
    font-weight: 300
    font-size: 14px
    line-height: 17px
    color: #5D5D5D

.catalog-page-item__price
    line-height: 19px
    color: $siteColorPink

.reasons
    padding-top: 103px
    padding-bottom: 104px
    background-color: #222224
    color: #FBFBFB
    display: flex
    gap: 30px

.reason-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__image
        margin-bottom: 28px

    &__title
        margin-bottom: 16px
        font-size: 19.96px
        line-height: 24px

    &__text
        font-weight: 300
        font-size: 13.972px
        line-height: 17px
        text-align: center

.subscribe
    padding-top: 97px
    padding-bottom: 126px
    background: url("img/subscribe-bg.jpg") no-repeat center
    background-size: cover
    display: flex
    justify-content: space-between
    align-items: center

    &__author
        width: 350px
        display: flex
        flex-direction: column
        align-items: center
        gap: 30px

    &-author__text
        font-size: 20px
        line-height: 24px
        text-align: center

    &__subscribe
        width: 400px
        display: flex
        flex-direction: column
        align-items: center

    &-subscribe__title
        font-weight: 700
        font-size: 24px
        line-height: 40px
        text-align: center

    &-subscribe__text
        font-size: 18px
        line-height: 30px
        text-align: center
        margin-bottom: 30px

    &-subscribe__form
        display: flex

    &-form__email
        background: #E1E1E1
        border: none
        border-radius: 20px 0 0 20px
        padding: 15px 50px 15px 22px
        color: #656363

    &-form__submit
        background: $siteColorPink
        border: none
        border-radius: 0 20px 20px 0
        padding: 15px 20px 15px 20px
        color: white

.site-footer
    background: #222224
    padding-top: 24px
    padding-bottom: 24px
    display: flex
    justify-content: space-between
    color: #FBFBFB
    align-items: center

    &__socials
        display: flex
        gap: 7px

.cart
    padding-top: 95px
    padding-bottom: 130px
    display: flex
    justify-content: space-between

    &__left-col

    &__right-col
        display: flex
        flex-direction: column
        width: 360px

.card-product
    display: flex
    -webkit-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2)
    -moz-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2)
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2)
    margin-bottom: 40px
    position: relative

    &__image
        width: 260px

    &__desc
        padding: 20px 150px 20px 30px
        width: 390px

    &__desc-title
        font-size: 24px
        margin-bottom: 40px

    &__desc-price
        color: #575757
        font-size: 22px

        &_price
            color: $siteColorPink

    &__desc-color
        color: #575757
        font-size: 22px

    &__desc-size
        color: #575757
        font-size: 22px

    &__desc-quant-wrapper
        display: flex
        gap: 25px

    &__desc-quant
        color: #575757
        font-size: 22px

    &__desc-input
        width: 45px
        height: 25px
        border: 1px solid #EAEAEA
        border-radius: 2px

.button-close
    position: absolute
    top: 30px
    right: 20px
    transition: all .3s

    &:hover path
        fill: $siteColorPink

.shopping-control
    margin-top: 70px
    display: flex
    justify-content: space-between

    &__button
        font-weight: 300
        padding: 17px 40px
        border: 1px solid #A4A4A4
        transition: all .3s

        &:hover
            background-color: #A4A4A4
            color: white

.cart-form
    display: flex
    flex-direction: column
    gap: 20px
    padding-bottom: 55px

    &__title
        font-size: 16px
        font-weight: 300

    &__input
        padding: 12px 16px 15px
        border: 1px solid #A4A4A4
        border-radius: 1px

    &__submit
        padding: 12px 14px
        border: 1px solid #A4A4A4
        border-radius: 1px
        font-size: 11px
        font-weight: 300
        background-color: white
        width: 105px
        cursor: pointer
        transition: all .3s

        &:hover
            color: white
            background-color: #A4A4A4

.cart-total
    padding: 40px 35px 40px 45px
    background-color: #F5F3F3

    &__sub-total
        display: flex
        justify-content: end
        padding-bottom: 12px

    &__sub-total-title
        color: #4A4A4A
        font-size: 11px

    &__sub-total-price
        color: #4A4A4A
        font-size: 11px
        margin-left: 25px

    &__grand-total
        display: flex
        justify-content: end
        padding-bottom: 20px
        border-bottom: 1px solid #E2E2E2
        margin-bottom: 15px

    &__grand-total-title
        font-size: 16px
        font-weight: 300

    &__grand-total-price
        font-size: 16px
        font-weight: 700
        color: $siteColorPink
        margin-left: 25px

    &__button
        display: flex
        justify-content: center
        color: #FFF
        font-size: 16px
        font-weight: 300
        padding: 15px 40px
        background-color: $siteColorPink
        transition: all .3s

        &:hover
            color: $siteColorPink
            background-color: white

.registration
    padding-top: 65px
    padding-bottom: 95px
    display: flex
    gap: 130px

.form-registration
    display: flex
    flex-direction: column
    gap: 20px
    &__title
        color: #222
        font-size: 16px
        font-weight: 300

    &__input
        color: #222
        font-size: 16px
        font-weight: 300
        padding: 13px 16px 16px 16px

        &::placeholder
            color: #B1B1B1
            font-size: 13px
            font-weight: 300
    &__box
        display: flex
        gap: 10px
        padding-top: 10px
        padding-bottom: 10px
    &__radio

    &__label
        color: #000
        font-size: 11px
        font-weight: 300
        margin-right: 20px

    &__warning
        color: #B1B1B1
        font-size: 13px
        font-weight: 300
        margin-bottom: 30px
    &__button
        color: #FFF
        padding: 16px 66px 17px 29px
        width: 170px
        border: 1px solid $siteColorPink
        cursor: pointer
        background: $siteColorPink url("img/arrow-right_white.svg") no-repeat center right 25%
        transition: all .3s

        &:hover
            background-color: white
            background-image: url("img/arrow-right_pink.svg")
            background-position: center right 15%
            color: $siteColorPink
.loyalti-program
    display: flex
    flex-direction: column
    gap: 22px
    &__title
        font-size: 24px
        font-weight: 300
    &__desc
        font-size: 24px
        font-weight: 300
    &__list
        display: flex
        flex-direction: column
        gap: 16px
    &__list-item
        font-size: 24px
        font-weight: 300
        display: flex
        gap: 23px
        align-items: center
        &::before
            content: ''
            background-image: url("img/loyalty-li.svg")
            display: block
            width: 20px
            height: 16px
@media (max-width: 1023px) and (min-width: 768px)
    .center
        padding-left: calc(50% - 745px/2)
        padding-right: calc(50% - 745px/2)

    .header.center
        padding-left: calc(50% - 720px/2)
        padding-right: calc(50% - 720px/2)

    .slider
        justify-content: space-around

        &__image
            height: 368px

        &__text
            margin-right: 0

    .categories
        grid-template-columns: repeat(3, 232px)
        grid-template-rows: 168px 116px
        gap: 20px

    .catalog__content
        grid-template-columns: repeat(2, 360px)
        gap: 16px

    .reasons
        flex-direction: column
        align-items: center
        gap: 48px

    .reason-item
        width: 360px

    .subscribe
        flex-direction: column
        gap: 60px

@media (max-width: 767px)
    .center
        padding-left: calc(50% - 310px/2)
        padding-right: calc(50% - 310px/2)

    .header
        padding-left: calc(50% - 290px/2)
        padding-right: calc(50% - 290px/2)

    .profile
        display: none

    .cart
        display: none

    .slider
        height: 363px
        display: flex
        justify-content: center

        &__image
            display: none

        &__text
            margin: 0

        &-text__title
            font-size: 38px

        &-text__text
            font-size: 20px

        &-text__fashion
            font-size: 20px

    .categories
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .center.categories
        padding-left: calc(50% - 290px/2)
        padding-right: calc(50% - 290px/2)

    .categories__item
        width: 100%
        height: 247px

    .categories-item_big
        height: 111px

    .catalog__content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 16px

    .reasons
        flex-direction: column
        align-items: center
        gap: 48px

    .subscribe
        flex-direction: column
        gap: 60px

        &__author
            width: 100%

        &__subscribe
            width: 100%

        &-form__email
            padding-right: 0

    .site-footer
        flex-direction: column-reverse
        gap: 40px
        padding-top: 40px
